# 문자열 다루기

#### 문자열 더하기 곱셈

In [ ]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

In [ ]:
print(a * 3)

# 4.3 리스트

### 리스트 만들기 [ ]

#### 데이터를 한꺼번에 처리하기 위해 묶어놓은면 편하다

In [1]:
# 1번 학생의 국어, 영어 수학, 과학 점수가 각각 90. 95, 85, 80
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [2]:
print(student1)

[90, 95, 85, 80]

#### 리스트의 타입 및 출력

In [ ]:
type(student1)

In [3]:
student1[0] #index 넘버! 앞에서부터는 0/ 뒤에서부터는 -1

90

In [ ]:
student1[1]

In [ ]:
student1[-1]

In [ ]:
student1[-2]

In [ ]:
student1[-3]

In [ ]:
student1[-4]

#### 새로운 데이터를 할당

In [ ]:
student1[0]= 100 #첫 번째 항목에 새로운 데이터를 할당
student1

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
myFriends

In [ ]:
myFriends[2]

In [ ]:
myFriends[-2]

In [ ]:
myFriends[0] = 'Sarah'
myFriends

#### 다른 타입끼리도 생성 가능

In [ ]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends] #리스트 안에 리스트 가능
mixedList

## 리스트 다루기

#### 리스트 더하기와 곱하기

In [ ]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2

print(list_con)

In [ ]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3

print(list_con)

#### 리스트 중 일부 항목 가져오기

리스트[i_start,i_end]

리스트[i_start,i_end:step]

각각 인덱스의 시작, 끝, 증가 범위를 지정하면 [i_start]부터 [i_end -1] 까지   *** 이상 <= _  > 미만

 리스트 반환 생략하면 0, 끝, 1로 간주한다.

In [10]:
list_data = [1,2,3,4,5,6,7,8,9,0]
print(list_data)
print(list_data[0:3])
print(list_data[4:9])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3]
[5, 6, 7, 8, 9]
[1, 2, 3]
[8, 9, 0]
[1, 3, 5, 7, 9]

In [11]:
print(list_data[2::3])

[3, 6, 9]

#### 리스트에서 항목 삭제하기

In [12]:
print(list_data)
del (list_data[6])
print(list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 8, 9, 0]

#### 리스트에서 항목의 존재 여부 확인하기

#### Bool로 반환함

In [ ]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)  #5 인덱스가 아니라 리스트 값이야
print(6 in list_data1)

### 리스트 메서드 활용하기

#### 자료형 메서드 이름() 변수형 메서드 이름()

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas') # 마지막에 하나를 추가
print(myFriends)

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul') #지정한 인덱스에 추가
print(myFriends)

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura','Betty']) #항목 여러개를 마지막에 추가
print(myFriends)

In [9]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary', 'James']
print(myFriends)
myFriends.remove('James') #첫번째로 일치하는 항목을 리스트에서 제외
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'James']
['Robert', 'Lisa', 'Mary', 'James']

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
popFriends = myFriends.pop() #마지막 항목을 제거한 후에 반환
print(myFriends)
print(popFriends)

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
indexFriend = myFriends.index('Lisa') #인덱스 값 몇 번째
print(indexFriend)

In [ ]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary', 'Lisa']
print(myFriends)
LisaCount = myFriends.count('Lisa') #몇 개인지 세줘
print(LisaCount)

In [1]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.sort() #알파벳 순으로 정렬
print(myFriends)

['james', 'Robert', 'Lisa', 'Mary']
['Lisa', 'Mary', 'Robert', 'james']

In [1]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.reverse() #입력한 그대로 뒤집어서
print(myFriends)

['james', 'Robert', 'Lisa', 'Mary']
['Mary', 'Lisa', 'Robert', 'james']

In [13]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.pop() #마지막 항목을 제거한 후에 반환
print(myFriends)

['james', 'Robert', 'Lisa', 'Mary']
['james', 'Robert', 'Lisa']

어떤 건 새로운 변수? 어떤 건 안넣어?
메서드가 결과를 어딘가에 넣어주는 게 필요하면 새로운 변수 만들어

# 4.4 튜플

### 튜플 만들기 (소괄호)

#### ***리스트와 유사하나 항목 변경 불가능

In [4]:
tuple1 = (1, 2, 3, 4)
print(tuple1)

(1, 2, 3, 4)

In [5]:
type(tuple1)

tuple

In [6]:
tuple[1]

tuple[1]

#### 소괄호 없이도 생성 가능 **아무것도 안쓰면 튜플로 인식해(반드시 뒤에,)

In [7]:
tuple2 = 1, 2, 3, 4
print(tuple2)

(1, 2, 3, 4)

In [8]:
type(tuple2)

tuple

#### 인자가 1개 밖에 없는 튜플 생성

#### **입력한 후 에 콤마, 추가

In [ ]:
tuple3 = 9,
tuple4 = (10,)
print(tuple3)
print(tuple4)

In [ ]:
type(tuple3)

*** 차이점 생각하며 언제 어떤 거 써야할지

### 튜플 다루기

#### 튜플 변경 및 삭제 불가

In [2]:
tuple5 = (1,2,3,4)
tuple5[1] = 5  #한번 생성된 튜플의 요소는 변경되지 않음

TypeError: 'tuple' object does not support item assignment

In [3]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [1]:
tuple5 = (1,2,3,4)
tuple5.append(5)
print(tuple5)

AttributeError: 'tuple' object has no attribute 'append'

#### 변경되지 않는 메서드는 리스트와 동일하게 사용가능

In [ ]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')

In [ ]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
indextuple=  tuple6.index('c')
print(indextuple)

In [ ]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tuple7.count('a')

In [ ]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tupleCount = tuple7.count('a')
print(tupleCount)

#### 튜플 왜 써???

삭제되거나 변경되면 안되는 것 ex) month 1월~12월

보안과는 조금 다른 문제인데,,,

효율적으로! 속도의 차이 / 메모리 차이 (리스트는 추가 변경될지도 모르니 메모리 더 크게)
데이터 커지면 차이나

하나짜리 튜플도 써 왜?

# 4.5 세트

### 세트 만들기 {중괄호}

#### 세트는 중복을 허용x

#### *인덱스 값이 없어

In [ ]:
set1 = {1,2,3}
set1a = {1,2,3,3}
print(set1)
print(set1a)

In [ ]:
type(set1)

In [ ]:
type(set1a)

### 세트의 교집합, 합집합, 차집합 구하기

In [ ]:
A = {1,2,3,4,5} #Set A
B = {4,5,6,7,8,9,10} #Set B
A.intersection(B) #집합 A에 대한 집합 B의 교집합(AnB)

In [ ]:
A.union(B) #집합 A에 대한 집합 B의 합집합(AuB)

In [ ]:
A.difference(B) #집합 A에 대한 집합 B의 차집합(A-B)

### 연산자로 쉽게 하기

In [54]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A & B

{4, 5}

In [55]:
A | B #바티컬바

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [56]:
A - B

{1, 2, 3}

## 리스트, 튜플, 세트 간 타입 변환

In [1]:
a = [1,2,3,4,5]

In [2]:
type(a)

list

In [3]:
b = tuple(a)
b

(1, 2, 3, 4, 5)

In [4]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [5]:
type(c)

set

In [6]:
list(b)

[1, 2, 3, 4, 5]

In [7]:
list(c)

[1, 2, 3, 4, 5]

# 4.6 딕셔너리

### 딕셔너리 만들기

#### 딕셔너리
1. 중괄호로 표현한다.
2. 키(key)와 값(value)으로 나누어져 있다.** 콜론으로 : 표기 (앞이 키 뒤에가 값)
3. 인덱스 대신 키 값을 사용한다.

key와 value가

In [12]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른", "덴마크":"코펜하겐"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [13]:
type(country_capital)

dict

#### value값 구하기

In [14]:
country_capital["영국"]

'런던'

In [1]:
dict_data1 = {1:"버스", 2:"비행기", 3:"택시", 4:"자전거"}
print(dict_data1)

{1: '버스', 2: '비행기', 3: '택시', 4: '자전거'}

In [2]:
print(dict_data1[1])

버스

In [20]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [21]:
dict_data3 = {"list_data":[11,12,13], "list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [24]:
mixed_dict = {1:10, "dict_num":{1:10, 2:20}, "dict_list_tuple":{"A":[11,12,13], "B":(21,22,23)}, "dict_string":"이것은 책입니다."}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

### 딕셔너리 다루기

#### 딕셔너리에 데이터추가하고 변경하기

#### 데이터 추가, 변경, 삭제

In [52]:
country_capital["독일"] = "베를린" #키값 기존에 없으면 value값 추가
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [32]:
country_capital["호주"] = "캔버라"  #키값 이미 있으면 value값 변경
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [33]:
del country_capital["덴마크"]
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

#### 딕셔너리 메서드 활용하기

In [6]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [7]:
print(fruit_code.keys()) #딕셔너리에서 키 전체를 리스트 형태로 반환

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [8]:
print(fruit_code.values()) #딕셔너리에서 값 전체를 리스트 형태로 반환

dict_values([101, 102, 103, 104, 105])

In [9]:
print(fruit_code.items()) #딕셔너리에서 값을 (키,값)처럼 튜플 형태로 반환

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [10]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

#### 데이터 추가

In [11]:
fruit_code2 = {"오렌지":106, "수박":107}

In [12]:
fruit_code.update(fruit_code2) #무조건 뒤에 붙어
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

#### 삭제

In [13]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict