# 6. 입력과 출력

## 6.1 출력

문자열 여러개를 연결하여 출력(자동으로 공백 발생)

In [20]:
print("Best", "python", "book")

Best python book

sep 활용(공백 대신 다른 문자열)

In [24]:
print("Best", "python", "book", sep = "*--*")

Best*--*python*--*book

빈칸없이 문자를 연결할 때 + 사용

In [25]:
print("abcd" + "efg")

abcdefg

" " " " 문자열로 둘러쌓인 거 연산과 동일

In [69]:
print("abcd" "efg")

abcdefg

콤마와 + 같이 사용

In [26]:
print("Best", "python", "book" + ":", "This is book")

Best python book: This is book

변수에 저장된 내용을

In [39]:
x = 10
print(x)

10

문자열과 숫자를 함께 출력

In [40]:
name = "James"
ID_num = 789
print("Name", name + ",", "ID Number:", ID_num)

Name James, ID Number: 789

#### 줄 바꿈

여러줄로 출력하기: 개행문자 사용   
\n

In [41]:
print("James is my friend. \nHe is Korean")

James is my friend.
He is Korean

In [42]:
print("James is my friend. \n\nHe is Korean")

James is my friend.

He is Korean

In [43]:
print("Welcome to ")
print("python!")

Welcome to
python!

두 줄로 출력된 결과를 한줄로 출력하기(end)

print는 개행문자 숨어져 있어 end이용해서 옆에 있는 거 삭제

In [45]:
print("Welcome to ", end="")
print("python!")

Welcome to python!

### 형식 지정 출력

#### % 나머지 연산자를 이용해서

In [47]:
name = "광재"
print("%s는 나의 친구입니다." %name)

광재는 나의 친구입니다.

%s s= string

In [49]:
r = 3
PI = 3.1415926538
print("반지름: %d, 원주율: %f" % (r, PI))

반지름: 3, 원주율: 3.141593

In [84]:
# 3.141593 기본값이 6, 반올림

*** 순서 바뀌면 안돼

d =    
f = float

형식 지정 문자열에서 출력 위치 지정

stirng.format

In [58]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat,dog,fox

In [70]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0},{1},{2}".format(animal_0, animal_1, animal_2))
print("Animal: {},{},{}".format(animal_0, animal_1, animal_2))

Animal: cat,dog,fox
Animal: cat,dog,fox

비워두면 순서대로

In [68]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0}".format(animal_0))
print("Animal: {1},{1},{2},{0},{2}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: dog,dog,fox,cat,fox

정수나 실수도 가능   
문자열을 변수에 대입한 후 변수를 불러서 출력   
실수의 경우 17자리까지 표현되며 반올림 되어 출력된다.

In [73]:
name = "Thomas"
age = 10
a =0.1234567890123456789
fmt_string = "String: {0}, Integer Number: {1}, Floating Number: {2}"
print(fmt_string.format(name, age, a))

String: Thomas, Integer Number: 10, Floating Number: 0.12345678901234568

형식 지정 문자열에서 숫자 출력 형식 지정

데이터가 숫자일 경우{N:'출력형식}'을 지정하여 다양한 형태로 출력이 가능

In [80]:
a = 0.1234567890123456789
print("{0:.2f}, {0:.5f}".format(a))

0.12, 0.12346

In [83]:
a = 0.1234567890123456789

print("{0:0.2f}, {0:0.5f}".format(a))  #0.생략되어 있는 거야

0.12, 0.12346

In [89]:
a = 0.1234567890123456789

print("{0:.2f}, {0:20.5f}".format(a))

0.12,              0.12346

단위수를 샐 때 나를 포함 조금씩 밀려나

## 6.2 키보드 입력

data = input("문자열")

In [91]:
yourName = input("당신의 이름은? ")
print("당신은 {}이군요.".format(yourName))

당신의 이름은? 오수연
당신은 오수연이군요.

숫자를 입력한 예

In [92]:
num = input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

숫자를 입력하세요: 5555
당신이 입력한 숫자는 5555입니다.

*** 숫자연산에 사용하기 위해서는 변환해야 함

In [105]:
a = input("정사각형 한 변의 길이는?: ")
area = int(a) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 5
정사각형의 넓이: 25

In [190]:
a = input("정사각형 한 변의 길이는?: ")
area = int(a) ** 2
print(f"정사각형의 넓이: {area}")

정사각형 한 변의 길이는?: 5
정사각형의 넓이: 25

In [108]:
# 정수 실수 둘 다 들어갈 수 있는 경우 실수로 넣는 습관 들이는게 좋아
a = input("정사각형 한 변의 길이는?: ")
area = float(a) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 2.5
정사각형의 넓이: 6.25

## 6.3 파일 읽고 쓰기

출력결과를 화면이 아니라 파일로 출력하거나 읽어야 할 경우

#### 파일 열기

내장 함수인 open()을 이용해 파일을 열어야 한다.   
f = open('file_name','mode')

* 모드종류   
r = 읽기모드   
w = 쓰기모드(이름 같으면 덮어져)   
x = 쓰기모드(이름 같으면 오류)
a = 추가모드

#### 폴더로 이동하기 명령

In [123]:
cd C:\myPyCode

C:\myPyCode

#### 파일을 쓰기 모드로 열고, 문자열 입력 후 파일 닫기 코드

In [124]:
f = open('myFile.txt', 'w') #txt파일 쓰기 모드로 열기
f.write('This is my first file.') #연 파일에 문자열 쓰기
f.close() #파일 닫기

#### 파일이름을 이용하여 내용 확인하기

In [125]:
!type myFile.txt

This is my first file.

#### 파일 읽기

In [128]:
f = open('myFile.txt', 'r') #파일 읽기 모드로 열기
file_text = f.read() #파일 내용 읽은 후 변수에 저장
f.close() #파일 닫기

print(file_text) #변수에 저장된 내용 출력

This is my first file.

## 6.4 반복문을 이용해 파일 읽고 쓰기

### 파일에 문자열 한 줄씩 쓰기

In [146]:
f = open('two_times_table.txt', 'w')
for num in range(1,6):
    format_string = "2 x {0} = {1}\n".format(num,2*num)
    f.write(format_string)
f.close()

In [154]:
!type two_times_table.txt

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

readline()

In [167]:
f = open("two_times_table.txt") #아무것도 지정하지 않으면 r
line1 = f.readline()
line2 = f.readline()
f.close
print(line1, end="")
print(line2, end="")

2 x 1 = 2
2 x 2 = 4

In [155]:
f = open("two_times_table.txt")
line = f.readline()
while line: # line이 공백인지 검사 (문자가 있으면 1(true)로 인식해 빈값이 들어가면 알아서 끊어져 false로 인식
    print(line, end="") #문자열 한 줄 출력 (print에 개행문자 숨어있어 줄바꾸고 다음줄에 커서 가있음)
    line = f.readline() #문자열 한 줄 읽기
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

#### readlines()

한꺼번에 출력한다

In [171]:
f =open("two_times_table.txt") #파일을 읽기 모드로 열기
lines = f.readlines() #파일 전체 읽기(***리스트 형식으로 변환)
f.close() #파일 닫기

print(lines) #리스트 변수 내용 출력

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n']

for문을 이용하여 전체 읽기

In [179]:
f = open("two_times_table.txt")
lines = f.readlines()
f.close() #문서(메모장)만 닫은 거야

for line in lines: #for문 리스트 범위를 가져와 (* readlines():리스트 형태로 값이 나옴)
    print(line, end="")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [175]:
f = open("two_times_table.txt")
for line in f.readlines():
    print(line, end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [176]:
f = open("two_times_table.txt")
for line in f:
    print(line, end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

## with문의 구조

with open('file_name','mode')as f:

닫아 주지 않아도 돼, 한꺼번에 출력하고 싶을 때?

In [181]:
with open('C:/myPyCode/myTextFile2.txt', 'w') as f:
    f.write('File read/write test2: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [184]:
with open('C:/myPyCode/myTextFile2.txt') as f:
    file_string = f.read()
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [187]:
with open('C:/myPyCode/myTextFile3.txt','w') as f:
    for num in range(1,6):
        format_string = "3 x {0} = {1}\n".format(num,3*num)
        f.write(format_string)

In [188]:
with open('C:/myPyCode/myTextFile3.txt', 'r') as f:
    for line in f:
        print(line, end="")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15