# 7장 함수

### 7.1 함수 정의와 호출

#### 함수의 기본 구조

def 함수명([인자1, 인자2... 인자n]):    

    <코드블록>   

    [return <반환값>]

* #### 인자도 반환 값도 없는 함수

In [3]:
def my_func():
    print("My first function")
    print("This is a function")

() 아무것도 없어? 인자가 없어   
return 없어? 반환 값 없어

함수를 만든거지 실행한 적 없어   
실행하려면 함수명을 치고 열고 닫아야 해

*** 예약어 쓰면 안돼(ex.print, int,,,   
이미 정의되어 있어/ 허용한다 그래도 쓰지 말 것

In [5]:
my_func()

My first function
This is a function

* #### 인자는 있으나 반환 값이 없는 함수

In [6]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [9]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [30]:
def my_student_info(name, school_ID, phoneNumber):
    print("-------------------------")
    print("- 학생이름:",name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

인자값이 여러개   
다 넣어줘야 해 하나라도 빠지면 에러나   
순서대로

In [31]:
my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

-------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
-------------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

In [32]:
def my_student_info(name, school_ID, phoneNumber):
    print("*************************")
    print("- 학생이름:",name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [33]:
my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

*************************
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
*************************
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

*** 함수를 수정하면 모든 코드에 적용   

객체 지향 언어(파이썬, 자바)   
하나의 객체로 인식    
새로 정의 돼. 마지막에 썼던 것만 갖고 있어

* #### 인자도 있고 반환 값도 있는 함수

In [34]:
def my_calc(x,y):
    z = x*y
    return z

In [35]:
my_calc(3,4)

12

In [57]:
print(a)
print(b)

2
4000

인자를 리스트로 입력해서 호출한다.

In [60]:
def my_student_info_list(student_info):
    print("*************************")
    print("- 학생이름:",student_info[0])
    print("- 학급번호:", student_info[1])
    print("- 전화번호:", student_info[2])
    print("*************************")

In [61]:
student1_info = ["현아", "01", "01-235-6789"]
my_student_info_list(student1_info)

*************************
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
*************************

In [257]:
my_student_info_list(["진수","02", "01-987-5432"])

*************************
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-5432
*************************

### 7.2 변수의 유효 범위

전역 변수와 지역 변수의 차이   

함수 안에서 정의한 변수는 함수 안에서만 사용할 수 있다.

변수를 어디에 선언하느냐에 따라 변수를 인식할 수 있는 범위 달라져

In [81]:
a = 5 #전역변수

def func1():
    a = 1 #지역변수, func1()에서만 사용
    print("[func1] 지역 변수 a =",a)
    
def func2():
    a = 2 #지역변수, func2()에서만 사용
    print("[func2] 지역 변수 a =",a)
    
def func3():
    print("[func3] 전역 변수 a =",a)
    
def func4():
    global a #함수 내에서 전역 변수 변경 위해 선언
    a = 4 #전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

*** 글로벌이라는 공간 만들어서 전역변수 저장해   
함수가 전역변수 바꿔놨어(에러 뜨지 않으니까 주의)

In [82]:
func1()
func2()

print("전역변수 a=", a)

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역변수 a= 5

In [83]:
func3()

[func3] 전역 변수 a = 5

In [84]:
func4()

[func4] 전역 변수 a = 4

In [96]:
a = 5
func3()
func4()
func3()

[func3] 전역 변수 a = 5
[func4] 전역 변수 a = 4
[func3] 전역 변수 a = 4

In [99]:
a = ["abc","de","fg"]

In [103]:
len(a[1])

2

In [104]:
len(a)

3

### 7.3 람다 함수

한줄로 함수를 표현하는 람다함수의 기본 구조   

(lamda <인자> : <인자 활용 수행 코드>)(<인자>)

In [105]:
(lambda x : x**2) (4)

16

람다 함수를 변수에 할당한 후에 인자를 호출해서 사용

In [107]:
mySquare = lambda x : x**2
mySquare(2)

4

여러 개의 인자를 받아 사용하는 것도 가능

In [111]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

### 7.4 유용한 내장 함수

#### 형 변환 함수

* 정수형으로 변환

소수점 이하는 버려짐

In [115]:
[int(0.123), int(3.512345), int(-1.31234)]

[0, 3, -1]

문자열을 정수형으로 변환

In [116]:
[int("1234"), int("5678"), int("-9012")]

[1234, 5678, -9012]

* 실수형으로 변환

In [117]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [121]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

* 문자형으로 변환

In [123]:
[str(123), str(456789), str(-987)]

['123', '456789', '-987']

In [124]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

* 리스트, 튜플, 세트형으로 변환

In [143]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

In [144]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [145]:
print("리스트로 변환:", list(tuple_data), list(set_data))

리스트로 변환: ['abc', 1, 2, 'def'] [1, 2, 'abc', 'def']

In [146]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') (1, 2, 'abc', 'def')

In [152]:
print("세트로 변환:", set(list_data), set(tuple_data))

세트로 변환: {1, 2, 'abc', 'def'} {1, 2, 'abc', 'def'}

#### bool 함수

* 숫자를 인자로 bool함수 호출

***0만 false 나머지는 다 true

In [164]:
bool(0)

False

In [157]:
bool(1)

True

In [165]:
bool(-10)

True

In [163]:
bool(5.12)

True

* 문자열을 인자로 bool 함수 호출

문자열이 존재 하냐 안하냐에 따라

In [171]:
bool('a')

True

In [176]:
bool(' ') #*** 공백(스페이스)도 문자열로 인식해

True

In [173]:
bool('')

False

In [174]:
bool(None)

False

* 리스트, 튜플, 세트를 인자로 bool 함수 호출

값이 있는지 없는지로만 판단

In [177]:
mySetA={}
bool(mySetA)

False

In [178]:
mySetA = {1,2,3}
bool(mySetA)

True

* bool 함수의 활용

In [197]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [198]:
print_name("James")

입력된 이름: James

In [199]:
print_name("")

입력된 이름이 없습니다.

#### 최솟값과 최댓값을 구하는 함수

In [210]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [211]:
myStr = "zsdeafdf"
[min(myStr), max(myStr)]

['a', 'z']

In [213]:
myStr = "zsdeafdFZA"
[min(myStr), max(myStr)]

['A', 'z']

In [217]:
myStr = "zsdeafdFZA!~"
[min(myStr), max(myStr)]

['!', '~']

In [219]:
myStr = "zsdeafdFZAㅁㅏ"
[min(myStr), max(myStr)]

['A', 'ㅏ']

튜플과 세트에서 활용

In [220]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [222]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

#### 절댓값과 전체합을 구하는 함수

절댓값 0에서부터 얼마나 떨어져 있는지

In [224]:
[abs(10), abs(-10)]

[10, 10]

In [226]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [228]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

#### 항목의 개수를 구하는 함수

In [230]:
len("ab cd")

5

In [231]:
len([1,2,3,4,5,6,7,8])

8

In [232]:
len((1,2,3,4,5))

5

In [233]:
len({1,2,3,4,5})

5

In [234]:
len({1:"Thomas", 2:"Edward", 3:"Jhon"})

3

#### 내장함수 활용

사용하지 않은 경우

In [247]:
scores = [90, 80, 95, 85]

score_sum = 0
subject_num = 0
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
    
average = score_sum / subject_num

print("총점:{0}, 평균:{1}".format(score_sum, average))

총점:350, 평균:87.5

사용하는 경우

In [250]:
scores = [90, 80, 95, 85]
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [254]:
print("최하점수:{0}, 최고점수:{1}".format(min(scores), max(scores)))

최하점수:80, 최고점수:95