In [1]:
num_str ="720"
int(num_str)

720

In [2]:
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [6]:
letters = 'python'
print(letters[0], letters[2])

p t

In [11]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [12]:
string = "홀짝홀짝홀짝"
string[0::2]

'홀홀홀'

In [13]:
string = "PYTHON"
string[::-1]

'NOHTYP'

In [18]:
phone_number = "010-1111-2222"
phone_number.replace('-',"")

'01011112222'

In [24]:
url = "http://sharebook.kr"
print(url.split(".")[-1])

kr

In [25]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [43]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [31]:
print('이름: {0}, 나이:{1}'.format(name1,age1))
print('이름: {0}, 나이:{1}'.format(name2,age2))

이름: 김민수, 나이:10
이름: 이철희, 나이:13

In [46]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [47]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [49]:
a = 'hello'
a.upper()

'HELLO'

In [50]:
a.capitalize()

'Hello'

In [51]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [53]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [55]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [58]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [60]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [64]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],[2])

삼성전자 [2]

*****

join

In [66]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [73]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [75]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [76]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

***

sort / sorted

In [82]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [84]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

In [85]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [86]:
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

***

#### 딕셔너리

별 표현식?
언패킹 코드?

In [116]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [117]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [118]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score , b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [90]:
ice = {'메로나': 1000, '폴라포':1200, '빵빠레': 1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [95]:
ice["조스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '조스바': 1200, '월드콘': 1500}

In [98]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [99]:
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '조스바': 1200, '월드콘': 1500}

In [100]:
del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '조스바': 1200, '월드콘': 1500}

In [101]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [105]:
sum(icecream.values())

6700

In [109]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

***

zip과 dict

In [111]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [110]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}